Repository ArchSpot-Project/projeto-EngSoftware3, pull requests merged in 2025-05, with the labels that each got.

#27 feat: criacao da entidade Projeto e enum Status
  .idea/workspace.xml
  ArchSpot-BackEnd/pom.xml
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/entities/Project.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/enums/Status.java
Labels: back

#29 fix: dropdowwn menu na navbar
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/layout.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/navbar/navbar.component.css
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/navbar/navbar.component.html
Labels: front

#30 fix: Reestruturaçao da arquitetura de modulos
  ArchSpot-FrontEnd/archspot-angular/src/app/app-routing.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/app.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/app.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/auth/auth-routing.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/auth/auth.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/auth/login/login.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/auth/login/login.component.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/auth/pages/login-page/login-page.component.css
  ArchSpot-FrontEnd/archspot-angular/src/app/auth/pages/login-page/login-page.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/auth/pages/login-page/login-page.component.spec.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/auth/pages/login-page/login-page.component.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/home/home-routing.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/home/home.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/home/pages/home-page/home-page.component.css
  ArchSpot-FrontEnd/archspot-angular/src/app/home/pages/home-page/home-page.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/home/pages/home-page/home-page.component.spec.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/home/pages/home-page/home-page.component.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/layout.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/navbar/navbar.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/maintenance/maintenance-routing.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/maintenance/maintenance.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/maintenance/pages/maintenance-page/maintenance-page.component.css
  ArchSpot-FrontEnd/archspot-angular/src/app/maintenance/pages/maintenance-page/maintenance-page.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/maintenance/pages/maintenance-page/maintenance-page.component.spec.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/maintenance/pages/maintenance-page/maintenance-page.component.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/public/pages/landing-page/landing-page.component.css
  ArchSpot-FrontEnd/archspot-angular/src/app/public/pages/landing-page/landing-page.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/public/pages/landing-page/landing-page.component.spec.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/public/pages/landing-page/landing-page.component.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/public/pages/plans-page/plans-page.component.css
  ArchSpot-FrontEnd/archspot-angular/src/app/public/pages/plans-page/plans-page.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/public/pages/plans-page/plans-page.component.spec.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/public/pages/plans-page/plans-page.component.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/public/public-routing.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/public/public.module.ts
Labels: enhancement, front

#34 feat: criacao entidade Usuario
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/configs/TestConfig.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/controllers/UserController.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/dtos/UserCreateDTO.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/dtos/UserUpdateDTO.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/entities/User.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/enums/UserRole.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/repositories/UserRepository.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/services/UserService.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/services/exceptions/DatabaseException.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/services/exceptions/ResourceNotFoundException.java
  ArchSpot-BackEnd/src/main/resources/application.properties
Labels: back

#36 feat: Criacao menu navegacao sidebar; criacao templates de paginas
  ArchSpot-FrontEnd/archspot-angular/src/app/home/home.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/home/pages/home-page/home-page.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/layout.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/page-layout/page-layout.component.css
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/page-layout/page-layout.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/page-layout/page-layout.component.spec.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/page-layout/page-layout.component.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/public-page-layout/public-page-layout.component.css
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/public-page-layout/public-page-layout.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/public-page-layout/public-page-layout.component.spec.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/public-page-layout/public-page-layout.component.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/sidebar-menu/sidebar-menu.component.css
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/sidebar-menu/sidebar-menu.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/sidebar-menu/sidebar-menu.component.spec.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/sidebar-menu/sidebar-menu.component.ts
Labels: enhancement, front

#40 feat: Implementação da Landing Page
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/layout.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/public-page-layout/public-page-layout.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/public/pages/landing-page/landing-page.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/public/public.module.ts
Labels: front

#43 feat: UserService, AuthService e rota de Login com DTO
  ArchSpot-FrontEnd/archspot-angular/src/app/app.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/auth/auth.module.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/auth/pages/login-page/login-page.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/auth/pages/login-page/login-page.component.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/core/models/user.model.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/core/services/auth.service.spec.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/core/services/auth.service.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/core/services/user.service.spec.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/core/services/user.service.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/home/pages/home-page/home-page.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/home/pages/home-page/home-page.component.ts
Labels: enhancement, front, back, M

#44 Update navbar condicional
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/navbar/navbar.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/navbar/navbar.component.ts
Labels: front, PP

#45 update: endpoint /login em UserController e DTOs
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/controllers/UserController.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/dtos/LoginRequestDTO.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/dtos/UserDTO.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/repositories/UserRepository.java
  ArchSpot-BackEnd/src/main/java/com/archspot/ArchSpot_BackEnd/services/UserService.java
Labels: back, P

#47 feat: Implementação da home-page estática
  ArchSpot-FrontEnd/archspot-angular/src/app/home/pages/home-page/home-page.component.html
Labels: enhancement, front, PP

#48 update: rotas de menus em sidebar e navbar
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/navbar/navbar.component.css
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/navbar/navbar.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/navbar/navbar.component.ts
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/sidebar-menu/sidebar-menu.component.html
  ArchSpot-FrontEnd/archspot-angular/src/app/layout/sidebar-menu/sidebar-menu.component.ts
Labels: front, P
